* {
	outline: none;
}

body {
	background-image: url(../img/bg-bn.png);
	background-size: 100%;
	background-repeat: no-repeat;
	overflow-x:hidden;
}

header {
	margin: 0 auto;
	width: 60%;
}

section {
	margin: 0 auto;
	width: 60%;
	margin-bottom: 150px;
}

footer {
	background-image: url(../img/footer-caravanas.png);
	background-size: 100% 160px;
	background-repeat: no-repeat;
	width: 100%;
	height: 160px;
	/*position: fixed;
	top: 0px;*/
}

@font-face{ 
    font-family:'StRydeRegular'; 
    src:url('../fontes/stryde-regular-webfont.eot'); 
    src:url('../fontes/stryde-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/stryde-regular-webfont.woff') format('woff'),
         url('../fontes/stryde-regular-webfont.ttf') format('truetype'),
         url('../fontes/stryde-regular-webfont.svg#StRydeRegular') format('svg'); 
    font-weight:normal; 
    font-style:normal; 
}

@font-face {
    font-family: 'st_ryde_italicitalic';
    src: url('../fontes/stryde_italic-webfont.eot');
    src: url('../fontes/stryde_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/stryde_italic-webfont.woff') format('woff'),
         url('../fontes/stryde_italic-webfont.ttf') format('truetype'),
         url('../fontes/stryde_italic-webfont.svg#st_ryde_italicitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{ 
    font-family:'ArialNarrow'; 
    src:url('../fontes/arial-narrow.eot'); 
    src:url('../fontes/arial-narrow.eot?#iefix') format('embedded-opentype'),
         url('../fontes/arial-narrow.woff') format('woff'),
         url('../fontes/arial-narrow.ttf') format('truetype'),
         url('../fontes/arial-narrow.svg#ArialNarrow') format('svg'); 
    font-weight:normal; 
    font-style:normal; 
}

@font-face {
    font-family: 'st_ryde_bold_italicBdIt';
    src: url('../fontes/stryde_bolditalic-webfont.eot');
    src: url('../fontes/stryde_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/stryde_bolditalic-webfont.woff') format('woff'),
         url('../fontes/stryde_bolditalic-webfont.ttf') format('truetype'),
         url('../fontes/stryde_bolditalic-webfont.svg#st_ryde_bold_italicBdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'st_ryde_mediummedium';
    src: url('../fontes/stryde_medium-webfont.eot');
    src: url('../fontes/stryde_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/stryde_medium-webfont.woff') format('woff'),
         url('../fontes/stryde_medium-webfont.ttf') format('truetype'),
         url('../fontes/stryde_medium-webfont.svg#st_ryde_mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.st_ryde_italicitalic {font-family: st_ryde_italicitalic !important;}
.StRydeRegular {font-family: StRydeRegular !important;}
.ArialNarrow {font-family: ArialNarrow !important;}
.st_ryde_bold_italicBdIt {font-family: st_ryde_bold_italicBdIt !important;}

.size12{font-size: 12px;}
.size18{font-size: 18px;}
.size20{font-size: 20px;}
.size22{font-size: 22px;}
.size25{font-size: 25px;}
.size45{font-size: 45px;}

/* DEV ALTER */
.alert-danger{margin-top: 20px;}
.alert-danger li{list-style-position: inside;}

button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

.form-control {
	display: block;
	outline: none;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid #D2D2D2;
	/*border-right: thick ;*/
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-o-border-bottom-left-radius: 10px;
	-ms-border-bottom-left-radius: 10px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	border-color: #f26532;
	box-shadow: 0px 0px 5px #f26532;
}

button {
	color: #FFFFFF !important;
}

.btn {
	font-weight: bold;
	font-family: StRydeRegular;
	font-size: 16px;
	border: none;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-o-border-bottom-left-radius: 10px;
	-ms-border-bottom-left-radius: 10px;
}

a.btn {
	color: #fff;
}

a.btn:hover {
	color: #fff;
}

.btn-danger {
	color: #fff;
	border-color: none;
	background: #ef6232;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmNjIzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZTRmMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ef6232 0%, #de4f34 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef6232), color-stop(100%,#de4f34)); 
	background: -webkit-linear-gradient(top,  #ef6232 0%,#de4f34 100%); 
	background: -o-linear-gradient(top,  #ef6232 0%,#de4f34 100%); 
	background: -ms-linear-gradient(top,  #ef6232 0%,#de4f34 100%);
	background: linear-gradient(to bottom,  #ef6232 0%,#de4f34 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef6232', endColorstr='#de4f34',GradientType=0 ); 
}

.btn-danger:hover {
	background: #E05B2F;
}

.btn-danger:active {
	background: #D1442B;
}

.btn-roxo {
	color: #FFFFFF;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c044c+2,5b0238+100 */
	background: #7c044c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzdjMDQ0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YjAyMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7c044c 2%, #5b0238 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#7c044c), color-stop(100%,#5b0238)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7c044c 2%,#5b0238 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7c044c 2%,#5b0238 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7c044c 2%,#5b0238 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7c044c 2%,#5b0238 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c044c', endColorstr='#5b0238',GradientType=0 ); /* IE6-8 */
}

.btn-roxo:hover {
	color: #FFFFFF;
	background: #5B0238;
}

.btn-roxo:active {
	color: #FFFFFF;
	background-color: #4C0229;
}

.btn-roxo:visited {
	color: #FFFFFF;
}

.btn-vermelho {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c0324c+1,a51a39+100 */
	background: #c0324c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2MwMzI0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNTFhMzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c0324c 1%, #a51a39 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#c0324c), color-stop(100%,#a51a39)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c0324c 1%,#a51a39 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c0324c 1%,#a51a39 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c0324c 1%,#a51a39 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c0324c 1%,#a51a39 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0324c', endColorstr='#a51a39',GradientType=0 ); /* IE6-8 */
}

.btn-vermelho:hover {
	background: #AD2E3B;
}

.btn-vermelho:active {
	background: #9B2937;
}


.btn-white {
	background-color: #FFFFFF;
	border-style: solid;
	border: 1px solid #D2D2D2 !important;
	text-align: left;
	width: 100%;
	height: 34px;
	padding: 0px 12px;
	color: #333 !important;
}

.fa-right {
	position: absolute;
	right: 40px;
	margin-top: 4px;
}

.box-collapse .container-collapse {
	background: #fff;
	display: inline-block;
	width: 100%;
}

.box-collapse div {
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 10px;
	min-height: 55px;
}

.container-checkbox{
	width: 100%;
	height: 40px;
}

.box-checkbox{
	float: left;
}

.checkbox-inline{
	margin-left: 10px;
}

.cancelar-lider {
	color: #FFFFFF;
	height: 30px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c0324c+1,a51a39+100 */
	background: #c0324c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2MwMzI0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNTFhMzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c0324c 1%, #a51a39 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#c0324c), color-stop(100%,#a51a39)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c0324c 1%,#a51a39 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c0324c 1%,#a51a39 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c0324c 1%,#a51a39 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c0324c 1%,#a51a39 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0324c', endColorstr='#a51a39',GradientType=0 ); /* IE6-8 */

}

.cancelar-lider:hover {
	background: #A82D4E;
}

.cancelar-lider:active {
	background: #A51F43;
}

.cancelar-lider:hover {
	color: #FFF;
}

.btn.cancelar-lider {
	font-size: 14px;
}

::-webkit-input-placeholder {
    color: #A9A9A9;
}
:-moz-placeholder {
   color: #A9A9A9;
}
::-moz-placeholder { 
   color: #A9A9A9;
}
:-ms-input-placeholder { 
   color: #A9A9A9;
}

.amarelo {color: #F9D10F !important;}
.laranja {color: #f26532 !important;}
.roxo {color: #7e0350 !important;}
.rosa {color: #D93359 !important;}
.vinho {color: #6E1850 !important;}
.white {color: #FFFFFF !important;}
.vermelho {color: #a21c37 !important;}
.azul {color: #00003f !important;}

.bg-roxo {background-color: #7e0350 !important;}
.bg-roxo2 {background-color: #821238;}
.bg-roxo3 {background-color: #6b124f;}
.bg-rosa {background-color: #dc3e62 !important;}
.bg-rosa2 {background-color: #b41f5a;}
.bg-rosa3 {background-color: #db3f60;}
.bg-amarelo {background-color: #f59c1e !important;}
.bg-vermelho {background-color: #a11c36 !important;}
.bg-vermelho2 {background-color: #a21c37 !important;}
.bg-laranja {background-color: #f26532 !important;}
.bg-laranja2 {background-color: #dc4d34 !important;}
.bg-branco {background-color: #ffffff !important;}
.bg-cinza {background-color: #fafafa !important;}


.bg-d54060 {background-color: #d54060;}
.bg-820a37 {background-color: #820a37;}
.bg-f1ab27 {background-color: #f1ab27;}
.bg-6d0a52 {background-color: #6d0a52;}
.bg-d54060 {background-color: #d54060;}

.cl-d54060 {color: #d54060;}
.cl-820a37 {color: #820a37;}
.cl-f1ab27 {color: #f1ab27;}
.cl-6d0a52 {color: #6d0a52;}
.cl-d54060 {color: #d54060;}
.cl-525252 {color: #525252;}


.box {margin-top: 0px;}

.box-cadastro {
	background-color: #f2f2f2;
	margin-top: 150px;
	min-height: 270px;
	min-width: 61.5%;
	padding: 0;
	border-radius: 12px;
}

.box-cadastro.lider {
	min-width: 100%;
}

.box-cadastro-header {
	width: 100%;
	background-color: #ff6529;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-o-border-bottom-left-radius: 10px;
	-ms-border-bottom-left-radius: 10px;
}

.box-cadastro-header h3 {
	margin: 0;
	padding: 20px;
	color: #FFFFFF;
	font-family: st_ryde_italicitalic;
}

.box-cadastro-header.lider {
	border-radius: 10px;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	-o-border-bottom-right-radius: 0;
	-ms-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	-o-border-bottom-left-radius: 0;
	-ms-border-bottom-left-radius: 0;	
}

.box-cadastro-header.lider h3 {
	padding: 8px;
}

.box-cadastro h4 {
	font-family: StRydeRegular;
	font-weight: bold;
	color: #7e0350;
}

.box-cadastro p {
	font-family: StRydeRegular;
}

.box-cadastro .container {
	padding: 15px;
	padding-right: 25px;
	padding-left: 25px;
}

.desenho {
	background-image: url(../img/caravanas-img.png);
	background-size: 53%;
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: 97% 0px;
	margin: 0 auto;
	width: 85%;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: -1;
}

.desenho-2 {
	background-image: url(../img/caravanas-img.png);
	background-size: 40%;
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: 95% 40px;
	margin: 0 auto;
	width: 85%;
	height: 500px;
	position: absolute;
	top: 0px;
	z-index: -1;
}

footer .content {
	width: 63%;
	margin: 0 auto;
	height: 100px;
	padding-top: 30px;
}

footer .content {
	color: #FFFFFF;
	font-size: 16px;
}

footer a {
	color: #FFFFFF;
}

footer a:hover {
	color: #BBBBBB;
	text-decoration: none;
}

.logo-endevor {
	width: 100px;
	margin-right: -20px;
}

.direitos {
	position: relative;
	top: 30px;
}

.direitos div {
	font-size: 8px;
}

footer .direitos{
	font-size: 11px;
}

.copyright {
	position: absolute;
	top: 0;
}

.desenvolvido-dizain {
	position: absolute;
	top: 0;
	right: 15%;
}

.resposta-recuperar-senha {
	font-family: StRydeRegular;
	font-weight: bold;
	color: #7e0350;
	margin-top: 70px;
}

.resposta-redef-senha {
	margin-top: 10px;
}

.msg-erro {
	color: #AF1230;
}

.foto-usuario {
	width: 15.5%;
	margin-bottom: 30px;
	height: 33%;
	overflow: hidden;
}
.foto-usuario .dz-preview{margin-left:-14px;}


form label {
	color: #333333;
}

hr {
  border-style: solid;
  width: 100%;
  border-color: #E1E1E1;
  height: 1px;
  background-color: #FFFFFF;
  
}

.menu-perfil {
	zoom:80%;
}


legend {
	font-family: StRydeRegular;
	font-weight: bold;
	border-bottom: none;
}

.ola-usuario {
	margin-top: 45px;
}

.ola-usuario h3 {
	margin-top: 0px;
}

.btn-perfil button {
	margin-right: 30px;
	margin-left: -15px;
}

.editar-perfil {
	font-family: st_ryde_italicitalic;
	font-weight: bold;
	font-size: 35px;
	margin-top: 0px;
}

.buttons-perfil {
	margin-top: 10px;
}

.buttons-perfil button,
.buttons-perfil a {
	margin-top: 10px;
	margin-right: 10px;
}

.aj-form {
	margin-left: -11px;
}

form .clear {min-height: 49px;}

.regras-beneficios {
	background-color: #f2f2f2;
	margin-top: 10px;
	margin-bottom: 15px;
	min-height: 270px;
	min-width: 61.5%;
	padding: 0;
	padding-bottom: 30px;
	border-radius: 12px;
	width: 550px;
}

.regras-beneficios .box-cadastro-header {
	width: 100%;
	background-color: #A21C37;
}

.box-regras,
.box-beneficios {
	margin-top: 15px;
}

.

.regras-beneficios .regras {
	float: left;
	background-color: #999;
	height: 18%;
}

.regras {
	width: 130px;
	height: 130px;
	padding-top: 8px;
	float: left;
}

.regras:last-child {
	margin-bottom: 15px;
}

.regras p {
	font-size: 67%;
	color: #FFFFFF;
}

.regras p b {
	font-size: 16px;
	font-family: StRydeRegular;
	font-weight: bold;
}

.box-beneficios {
	margin-left: -10px;
}

.box-beneficios p {
	font-family: st_ryde_italicitalic;
	font-size: 13px;
	font-weight: bold;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 30px;
	text-align: center;
}

.beneficios {
	padding: 35px;
	padding-bottom: 0;
}

.lista-beneficios .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 1px -3px 13px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 1px -3px 13px rgba(0, 0, 0, 0.59);
    float: left;
    text-align: center;
    padding: 10px;
}

.lista-beneficios .circle span {
    display: block;
    color: #fff;
    font-weight: 100;
    font-size: 9px;
    text-transform: uppercase;
}

.lista-beneficios .circle span:nth-child(2) {
    font-size: 25px;
    font-weight: bold;
    line-height: 22px;
}

.lista-beneficios .row {
    margin-bottom: 15px;
}

.lista-beneficios .col-sm-6 {
	padding-left: 65px;
}

.lista-beneficios .col-sm-6:last-child {
	padding-left: 42px;
}

.lista-beneficios .list {
	float: left;
	width: calc(100% - 70px);
	width: -webkit-calc(100% - 70px);
	width: -moz-calc(100% - 70px);
	width: -ms-calc(100% - 70px);
	width: -o-calc(100% - 70px);
	padding-left: 17px;
}

.lista-beneficios .list h4 {
    margin: 0 0 5px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    line-height: 17px;
}

.lista-beneficios ul {
    margin: 0;
    padding: 0;
}

.lista-beneficios li {
    font-size: 12px;
    color: #515151;
    line-height: 12px;
    list-style: none;
}

.cadastro-lider {
	margin-left: -35px;
}

.aceitar-term {
	text-decoration: underline;
	color: #656565;
	cursor: pointer;
}

.aceitar-term:hover {
	color: #444444;
}

.link-black {
	text-decoration: underline;
	color: #656565 !important;
	cursor: pointer;
}

.link-black:hover {
	color: #333 !important;
}

.termos-condicoes {width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 9999; display: none; }

.bg-lightbox {width: 100%; height: 100%; background-color: #000000; opacity: 0.8; position: fixed; top: 0; left: 0; opacity: 0; display: none; }
.close-lightbox {position: relative; top: -60px; }
.lightbox {margin: 0 auto; margin-bottom: 100px; width: 60%; height: auto; background-color: #f2f2f2; position: relative; top: 30%; border-radius: 10px; text-align: left; opacity: 0; display: none; zoom:30%; }
.lightbox-header {width: 100%; height: auto; min-height: 55px; background-color: #ff6529; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-top-right-radius: 10px; -o-border-top-right-radius: 10px; -ms-border-top-right-radius: 10px; border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-bottom-left-radius: 10px; -o-border-bottom-left-radius: 10px; -ms-border-bottom-left-radius: 10px; }
.lightbox-header h3 {color: #FFFFFF; font-size: 32px; font-family:'st_ryde_italicitalic'; font-weight: bold; padding: 10px; padding-left: 15px; }
.lightbox .container h3 {color: #7e0350; }
.lightbox .topico-termos {padding: 5px; padding-left: 20px; padding-right: 20px; word-wrap: break-word; }
.lightbox .topico-termos h3{color: #820855; }
.lightbox hr {width: 95%; }

.logo-i8 #logo {
	/*asdfasdf*/
}
 
.modal-text {
    background-color: rgba(0,0,0,0.6);
}

.modal-text .modal-header{
	min-height: 55px; background-color: #ff6529; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-top-right-radius: 10px; -o-border-top-right-radius: 10px; -ms-border-top-right-radius: 10px; border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-bottom-left-radius: 10px; -o-border-bottom-left-radius: 10px; -ms-border-bottom-left-radius: 10px; padding: 5px 15px;
}

.modal-text h2 {
    color: #820855;
    margin-bottom: 35px;
}


.modal-text .modal-header h3 {
	color: #FFFFFF;
	font-size: 32px;
	font-family:'st_ryde_italicitalic';
	font-weight: bold;
}

.modal-text .modal-header .btn {
	margin-top: -60px;
	margin-right: -15px;
}

.modal-content {
    margin-top: 150px;
	border-top-right-radius: 15px; -webkit-border-top-right-radius: 15px; -moz-border-top-right-radius: 15px; -o-border-top-right-radius: 15px; -ms-border-top-right-radius: 15px; border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-bottom-left-radius: 10px; -o-border-bottom-left-radius: 10px; -ms-border-bottom-left-radius: 10px; 
    box-shadow: none;
    border: none;
    background-color: #f2f2f2;
}


.modal-text .topico-termos h3 {
    color: #820855;
}




.list-lider {padding-bottom: 15px; }
.list-lider .content-list {padding-left: 15px; padding-right: 15px; /*margin-top: -25px;*/ }
.list-lider h4 {margin-left: 30px; padding-bottom: 20px; }
.list-lider .box-list-lider h4 {margin-left: 0px; padding-bottom: 0px; }
.list-lider .content{background-color: #FFFFFF; margin-top: 10px; height: auto; }
.list-lider .content img {width: 100px; margin-top: 15px; border: 1px solid #B9B9B9; }

.fa-facebook-official:before {
	color: #3A5795;
	font-size: 35px;
}

.list-lider-detalhes {
	font-size: 11px;
}

.list-lider-detalhes p {
	margin: 2px;
	font-family: arial;
	color: #525252;
}

.box-list-lider {
	width: 46%;
	min-height: 250px;
	margin:2%;
	padding-bottom: 15px;
	background-color: #FFFFFF;
}

.agendamento select{
	font-size: 13px;
}

/*datepicker*/
#datepicker {
	zoom:140%;
}

.ui-datepicker {
width: ;
/*height: 50px;*/
}

.ui-datepicker-bn .ui-widget-header {
	border: none;
	color: #FFFFFF;
	background: #7e0451;
	font-weight: none !important;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
}

.ui-datepicker-bn .ui-datepicker-prev.ui-state-hover,
.ui-datepicker-bn .ui-datepicker-next.ui-state-hover {
	background: none;
	border: none;
}

.ui-datepicker-bn .ui-datepicker {
	padding: 0; 
}

.ui-datepicker-bn .ui-corner-all,
.ui-datepicker-bn .ui-corner-top,
.ui-datepicker-bn .ui-corner-left,
.ui-datepicker-bn .ui-corner-right,
.ui-datepicker-bn .ui-corner-tl {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-top-left-radius: 0px;
	border-top-right-radius: 5px;
}

.ui-datepicker-bn .ui-widget-content {
	border: none;
	background: #F2F2F2;
	color: #222222;
}

.ui-datepicker-bn .ui-datepicker-title span {
	font-family: st_ryde_italicitalic;
}

.ui-datepicker-bn .ui-datepicker-calendar tr th span {
	font-family: arial;
	font-size: 9px;
	text-transform: uppercase;
	color: #555;
}

.ui-datepicker-bn .ui-datepicker-week-end:first-child span{
	color: #FF652C !important;
}

.ui-datepicker-bn .ui-icon-circle-triangle-w {
	background-position: inherit !important;
}

.ui-datepicker-bn .ui-widget-header .ui-icon {
	background-image: url("../img/seta.png");
	background-size: 10px 15px;
	height: 15px;
	background-position: 0px 0px;
}


.ui-datepicker-bn .ui-datepicker .ui-datepicker-prev span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -5px;
}

.ui-datepicker-bn .ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -5px;
	background-image: url("../img/seta-r.png");
}


.ui-datepicker-bn .ui-widget-header .ui-datepicker-prev.ui-state-hover,
.ui-datepicker-bn .ui-widget-header .ui-datepicker-prev.ui-widget-content .ui-state-hover,
.ui-datepicker-bn .ui-widget-header .ui-datepicker-prev.ui-widget-header .ui-state-hover,
.ui-datepicker-bn .ui-widget-header .ui-datepicker-prev.ui-state-focus,
.ui-datepicker-bn .ui-widget-header .ui-datepicker-prev.ui-widget-content .ui-state-focus,
.ui-datepicker-bn .ui-widget-header .ui-datepicker-prev.ui-widget-header .ui-state-focus {
	top: 2px;
	left: 2px;
	opacity: 0.5;
}

.ui-datepicker-bn .ui-widget-header .ui-datepicker-next.ui-state-hover,
.ui-datepicker-bn .ui-widget-header .ui-datepicker-next.ui-widget-content .ui-state-hover,
.ui-datepicker-bn .ui-widget-header .ui-datepicker-next.ui-widget-header .ui-state-hover,
.ui-datepicker-bn .ui-widget-header .ui-datepicker-next.ui-state-focus,
.ui-datepicker-bn .ui-widget-header .ui-datepicker-next.ui-widget-content .ui-state-focus,
.ui-datepicker-bn .ui-widget-header .ui-datepicker-next.ui-widget-header .ui-state-focus {
	margin: 1px;
	opacity: 0.5;
}

.ui-datepicker-bn .ui-datepicker td {
	border: 0;
	 padding: 0; 
}

.ui-datepicker-bn .ui-state-default,
.ui-datepicker-bn .ui-widget-content .ui-state-default,
.ui-datepicker-bn .ui-widget-header .ui-state-default {
	border: 1px solid #e6e6e6;
	text-align: center;
	font-weight: bold;
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
	font-family: StRydeRegular;
	font-size: 13px;
	padding: 10px;
	-webkit-transition: all .60s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .60s ease;
}

.ui-datepicker-bn .ui-datepicker-calendar tbody tr td .ui-state-default.ui-state-active {
	background: #dd2267 !important;
	color: #FFFFFF !important;
}

.ui-datepicker-bn .ui-datepicker-calendar tbody tr td .ui-state-highlight.ui-state-active {
	background: #FF652C;
	color: #FFFFFF !important;
}

.ui-datepicker-bn .ui-datepicker-calendar tbody tr td .ui-state-default.ui-state-highlight {
	background: #FF652C;
	color: #FFFFFF !important;
}

.ui-datepicker-bn .ui-state-default:hover,
.ui-datepicker-bn .ui-widget-content .ui-state-default:hover,
.ui-datepicker-bn .ui-widget-header .ui-state-default:hover {
	background: #eee;
}

.ui-datepicker-bn .ui-datepicker-calendar tbody tr .ui-datepicker-week-end:first-child .ui-state-default{
	color: #FF652C;
}

/*end-datepicker*/


.thumb-image{width: 120px;/*height: 120px;*/}
#fileUpload{opacity: 0;}
#image-holder {
	width: 120px;
	height: 120px;
	background-image: url(http://agendamento.belezanatural.dev/img/avatar.png);
	background-size: 103% !important;
	background-repeat: no-repeat;
	background-position: -2px -1px;
	overflow: hidden;
}

.box-calendario {
	position: relative;
	min-height: 1px;
	padding-right: 1px;
	padding-left: 1px;
}

.box-calendario .content {
	height: 500px;
}

.box-cadastro .container.agendamento {
	padding: 15px;
	padding-right: 16px;
	padding-left: 16px;
}

.agendamento .box-cadastro {
	min-height: 320px;
	margin-top: 0;
	position: relative;
	top: 120px;
	margin: 20px;
	margin-top: 0;
}

.agendamento.container {
	background-color: #f2f2f2;
}

.icon-radios {
	color: #ffffff;
	font-size: 11px;
	padding: 3px;
	padding-left: 4px;
	border-radius: 8px;
	width: 17px;
}


@media screen and (max-width: 767px) {
   	.desenho,
   	.desenho-2,
   	.hide-mobile,
   	.direitos {
   		display: none;
   	}

   	.cancelar-lider {
   		margin-bottom: 10px;
   	}

	#datepicker {
		zoom:65% !important;
	}

	.agendamento .box-cadastro {
		min-height: 380px;
	}

}

@media screen and (max-width: 992px) {
	footer {
		background-size: 100% 160px;
		width: 100%;
		height: 160px;
	}

	.foto-usuario {
		width: 100px;
		margin-bottom: 30px;
	}

   	.desenho,
   	.desenho-2 {
   		display: none;
   	}

	.ola-usuario {
		margin-top: 40px;
	}

	.btn-perfil button {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.aj-form {
		margin-left:0;
	}

	.regras-beneficios {
		background-color: #f2f2f2;
		margin-top: 150px;
		margin-bottom: 15px;
		min-height: 270px;
		min-width: 61.5%;
		padding: 0;
		border-radius: 12px;
		width: 100%;
	}

	.regras {
		width: 100%;
		height: 65px !important; 
	}

	.close-lightbox {
		top: 0;
	}

	.lightbox {
		margin: 0 auto;
		margin-bottom: none;
		width: 95%;
		position: relative;
		top: -10px;
	}

	.box-beneficios p {
		text-align: left;
	}

	.box-list-lider {
		width: 90%;
		margin:5%;
	}

	.list-lider .box-list-lider h4 {
		margin-left: 0px;
		padding-bottom: 0px;
	}

	#datepicker {
		zoom:160%;
	}

}

@media screen and (max-width: 1300px) {

	#datepicker {
		zoom:100%;
	}

}

.list-tab {
	padding: 0;
	margin: 0;
	float: left;
	height: 40px;
	margin-top: 70px;
}

.list-tab li {
	position: relative;
	bottom: 0;
	width: 180px;
	text-align: center;
	margin-left: -10px;
	border: 1px solid #fff;
	float: right;
	list-style: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-o-border-bottom-left-radius: 10px;
	-ms-border-bottom-left-radius: 10px;
	-webkit-transition: all .60s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .60s ease;

}

.list-tab li.active {
	position: relative;
	bottom: 6px;
	-webkit-transition: all .60s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .60s ease;
}

.list-tab li a {
	top: 7px;
	position: relative;
	font-family: st_ryde_italicitalic;
	height: 48px;
	display: block;
	font-size: 24px;
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: all .60s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .60s ease;
}

.list-tab li.active a {
	top: 12px;
	font-weight: bold;
	height: 54px;
	-webkit-transition: all .60s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .60s ease;
}

.atencao {
	font-family: st_ryde_italicitalic;
	font-size: 20px;
	color: #640d0e;
	margin-top: 10px;
}


.materials {
	margin: 0;
	padding: 0;
}

.materials .button a {
	margin-top: 9px;
}

.materials li {
	list-style: none;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 2px;
}

.materials h5 {
	font-size: 20px;
	color: #00003f;

	margin-bottom: 0px;
}

.materials h5 i {
	font-size: 17px;
}

.materials p {
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	color: #525252;
}

.materials .icon {
	width: 70%;
	float: left;
}

.materials .button {
	width: 30%;
	float: right;
}

@media (max-width: 1300px){



	.materials .icon,
	.materials .button,
	.materials .button .pull-right {
		width: 100%;
		float: none;
	}

	.materials .button a {
	    margin-top: 29px;
	}


} 

@media (min-width: 991px) and (max-width: 1150px){
	.list-tab li {
		zoom: 85%;
	}

	.list-tab {
		height: 29px;
	}
}

@media (max-width: 991px){
	.list-tab {float: none;}
	.list-tab li {width: 100%; margin-left: 0; margin-top: -10px;}
	/*.list-tab li {float: none;}*/
}

@media (max-width: 768px){
	.regras {
		height: 100px !important;
	}	

	.lista-beneficios .col-sm-6,
	.lista-beneficios .col-sm-6:last-child {
		padding-left: 15px;
	}

	.lista-beneficios .col-sm-6 {
		margin-bottom: 15px;
	}

	.lista-beneficios .row {
		margin-bottom: 0;
	}

	.materials .button a {
		font-size: 18px !important;
	}
} 

/*dev*/
#calendar_detail{display: none;}
