<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link media="all" type="text/css" rel="stylesheet" href="../css/bootstrap.css">

	<link media="all" type="text/css" rel="stylesheet" href="../css/style.css">

</head>
<body>
	<header class="content">
		<div class="row">
			<a href="#">
				<img class="logo-bn col-lg-5 col-md-5 col-sm-6 col-xs-6" src='../img/logo beleza natural.png' alt="Logo Beleza Natural">
			</a>
		</div>
		
	</header>






<div class="desenho-2"></div>
	<section>
		<div class="menu-perfil">
			<div class="row ola-usuario">
				<img class="foto-usuario col-lg-2 col-md-2 col-sm-2 col-xs-2" src='../img/foto-usuario.jpg' alt="Foto Usuário" width="10px">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<h3 class="roxo">Olá, Marielena Pereira.</h3>
					<p><a href="{{ route('user.edit') }}" class="amarelo">Editar meu perfil</a></p>

					<div class="buttons-perfil">
						<a href="{{ route('agendamento.create') }}" class="btn btn-roxo col-lg-2 col-md-3 col-sm-12 col-xs-12">AGENDAMENTO</a>
						<a href="{{ route('agendamento.create') }}" class="btn btn-roxo col-lg-3 col-md-4 col-sm-12 col-xs-12">CARAVANAS AGENDADAS</a>
				   	    <a href="{{ route('user.logout') }}" class="btn btn-vermelho col-lg-1 col-md-1 col-sm-12 col-xs-12">SAIR</a>
					</div>
				</div>
				<!-- <div class="container btn-perfil col-lg-12 col-md-12 col-sm-12 col-xs-12">

				</div> -->

			</div>

			
		</div>
		<h2 class="roxo editar-perfil">Caravanas Agendadas</h2>
		<div class="row box">
			<div class="box-cadastro lider list-lider caravanas-agendadas resposta-redef-senha container col-lg-7 col-md-7 col-sm-12 col-xs-12">
			 	<div class="box-cadastro-header">
			 		<h3>Sou Lider</h3>
			 	</div>
			 	<br><br>
			 	<div class="content-list">
			 	
				  	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 box-list-lider">
				  		<div class="content">
				  			<div class="list-lider-detalhes col-md-12">
				  				<h4 class="vermelho">15/01/2015 - Quinta-feira</h4>
				  				<p class="azul size12"><b>Período agendado: </b>Manhã</p>
				  				<p class="azul size12"><b>Quantidade de pessoas: </b>16 pessoas</p>
				  				<h4>Bangu</h4>
				  				<p>Rua Fonseca, nº 240 - Lojas 213 A,B,C e 214 A,B,C</p>
				  				<p>Bangu - Rio de Janeiro - RJ - Bangu Shopping</p>
				  				<p>CEP: 21820-005</p>
				  				<p><i class="fa fa-phone icon-radios bg-laranja2"></i> (21) 2397-0320</p>
				  				<p><i class="fa fa-clock-o icon-radios bg-vermelho"></i> 8h às 20h – segunda a sábado.</p>
				  			</div>
				  		</div>
				  	</div>
				  	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 box-list-lider">
				  		<div class="content">
				  			<div class="list-lider-detalhes col-md-12">
				  				<h4 class="vermelho">15/01/2015 - Quinta-feira</h4>
				  				<p class="azul size12"><b>Período agendado: </b>Manhã</p>
				  				<p class="azul size12"><b>Quantidade de pessoas: </b>16 pessoas</p>
				  				<h4>Bangu</h4>
				  				<p>Rua Fonseca, nº 240 - Lojas 213 A,B,C e 214 A,B,C</p>
				  				<p>Bangu - Rio de Janeiro - RJ - Bangu Shopping</p>
				  				<p>CEP: 21820-005</p>
				  				<p><i class="fa fa-phone icon-radios bg-laranja2"></i> (21) 2397-0320</p>
				  				<p><i class="fa fa-clock-o icon-radios bg-vermelho"></i> 8h às 20h – segunda a sábado.</p>
				  			</div>
				  		</div>
				  	</div>
				  	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 box-list-lider">
				  		<div class="content">
				  			<div class="list-lider-detalhes col-md-12">
				  				<h4 class="vermelho">15/01/2015 - Quinta-feira</h4>
				  				<p class="azul size12"><b>Período agendado: </b>Manhã</p>
				  				<p class="azul size12"><b>Quantidade de pessoas: </b>16 pessoas</p>
				  				<h4>Bangu</h4>
				  				<p>Rua Fonseca, nº 240 - Lojas 213 A,B,C e 214 A,B,C</p>
				  				<p>Bangu - Rio de Janeiro - RJ - Bangu Shopping</p>
				  				<p>CEP: 21820-005</p>
				  				<p><i class="fa fa-phone icon-radios bg-laranja2"></i> (21) 2397-0320</p>
				  				<p><i class="fa fa-clock-o icon-radios bg-vermelho"></i> 8h às 20h – segunda a sábado.</p>
				  			</div>
				  		</div>
				  	</div>
				  	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 box-list-lider">
				  		<div class="content">
				  			<div class="list-lider-detalhes col-md-12">
				  				<h4 class="vermelho">15/01/2015 - Quinta-feira</h4>
				  				<p class="azul size12"><b>Período agendado: </b>Manhã</p>
				  				<p class="azul size12"><b>Quantidade de pessoas: </b>16 pessoas</p>
				  				<h4>Bangu</h4>
				  				<p>Rua Fonseca, nº 240 - Lojas 213 A,B,C e 214 A,B,C</p>
				  				<p>Bangu - Rio de Janeiro - RJ - Bangu Shopping</p>
				  				<p>CEP: 21820-005</p>
				  				<p><i class="fa fa-phone icon-radios bg-laranja2"></i> (21) 2397-0320</p>
				  				<p><i class="fa fa-clock-o icon-radios bg-vermelho"></i> 8h às 20h – segunda a sábado.</p>
				  			</div>
				  		</div>
				  	</div>	
			 	</div>
			</div>
		</div>
	
	</section>	







			
	<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="content">
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
					<p><a href="#"><i class="fa fa-angle-left"></i> Voltar para o site do BN</a></p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<img class="logo-endevor hide-mobile pull-right" src='../img/logo empreendedor endeavor.png'>
				</div>
			</div>

			<div class="row direitos">
				<div  class="pull-left">
					Copyright © 2012 - Instituto Beleza Natural
				</div>
				<div  class="pull-right">
					Desenvolvido por DIZ'AIN
				</div>
			</div>

		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	

	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/bootstrap-select.min.js"></script>
	<script src="../js/jquery.validate.js"></script>
	<script src="../js/jquery.mask.js"></script>
	<script src="../js/scripts.js"></script>

</body>
</html>