<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Agendamento Caravanas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><img src="../../img/emails/NewsletterConfirmacaoLider/NewsletterConfirmacaoLider_01.jpg" style="display:block; border:none;"></td>
		</tr>
		<tr>
			<td>
				<table width="600" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td><img src="../../img/emails/NewsletterConfirmacaoLider/NewsletterConfirmacaoLider_02.jpg" style="display:block; border:none;"></td>
						<td width="315" bgcolor="#ED6827"><font face="Arial" size="5" color="#ffffff">Olá, belezete.</font></td>
						<td><img src="../../img/emails/NewsletterConfirmacaoLider/NewsletterConfirmacaoLider_04.jpg" style="display:block; border:none;"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td><img src="../../img/emails/NewsletterConfirmacaoLider/NewsletterConfirmacaoLider_05.jpg" style="display:block; border:none;"></td>
		</tr>
		<tr>
			<td>
				<table width="600" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td><img src="../../img/emails/NewsletterConfirmacaoLider/NewsletterConfirmacaoLider_06.jpg" style="display:block; border:none;"></td>
						<td width="517" bgcolor="#F2F2F2">
							<font face="Arial" size="4" color="#6b074f">
								Estamos muito felizes que agora você é uma Líder BN.<br>
								Temos orgulho em espalhar autoestima e cachos e agora você faz parte desse time!
								<br><br>
								Mas antes, confirme seu email para ativar sua conta, clicando neste link a seguir
								<a href="{{ route('user.register.activation', $activationCode) }}">http://fewfewf/fwefewfewfewfwefew<a>
								<br><br>
								<strong>Conheça os benefícios e as regras:</strong>
							</font>
						</td>
						<td><img src="../../img/emails/NewsletterConfirmacaoLider/NewsletterConfirmacaoLider_08.jpg" style="display:block; border:none;"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td><img src="../../img/emails/NewsletterConfirmacaoLider/NewsletterConfirmacaoLider_09.jpg" style="display:block; border:none;"></td>
		</tr>
		<tr>
			<td>
				<table width="600" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td><img src="../../img/emails/NewsletterConfirmacaoLider/NewsletterConfirmacaoLider_10.jpg" style="display:block; border:none;"></td>
						<td width="521" bgcolor="#F2F2F2">
							<font face="Arial" size="4" color="#6b074f">
								<strong>Seja bem vinda!</strong>
								<br><br>
								Um abraço,<br>
								Equipe Beleza Cacheada
							</font>
						</td>
						<td><img src="../../img/emails/NewsletterConfirmacaoLider/NewsletterConfirmacaoLider_12.jpg" style="display:block; border:none;"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td><img src="../../img/emails/NewsletterConfirmacaoLider/NewsletterConfirmacaoLider_13.jpg" style="display:block; border:none;"></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>